/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --gap: 6px;
    --row-height: 300px;
}

.pagetitle {
    color: red;
    margin-top: 15vh;
}

.padding-top {
    padding-top: 10px;
}

.padding-bottom {
    padding-bottom: 10px;
}

.padding-left {
    padding-left: 10px;
}

.padding-right {
    padding-right: 10px;
}

.padding {
    padding: 10px
}

.largepadding {
    padding: 30px 60px
}

.mediumpadding {
    padding: 20px 0px;
}

.margin-top {
    margin-top: 10px;
}

.margin-bottom {
    margin-bottom: 10px;
}
.margin-left {
    margin-left: 10px;
}
.margin-right {
    margin-right: 10px;
}

.margin {
    margin: 10px;
}

p, h1, h2, h3, h4, h5, h6, li, a {
    font-family: sans-serif;
    text-decoration: none;
}

p {   
    line-height: 1.5;
    margin: 10px;
}

a {
    font-family: sans-serif;
}

a:hover {
    font-size: 103%;
}


li {
    font-size: 14px;
}

h1 {
    margin: 10px;
    font-size: 35px;
}

h3 {
    margin: 10px;
    font-size: 25px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

.ytcontainer {
    padding: 30px;
    align-self: center;
}

header, main, footer {
    width: 100%;
}


/* End General */

/* Page Header */


.title:hover {
    opacity: 1;
    justify-content: center;
}

/* End Page Header */

/* Navbar */

.navbar {
    background-image: linear-gradient(to left,rgb(43, 0, 0),red);
}

.nav-link {
    background-color: maroon, 0.4;
}

.navbar-brand h1 {
    background: #000000;
    background: linear-gradient(to right, #000000 13%, #40FFFF 25%, #FFFFFF 50%, #FFFFFF 47%, #FFFFFF 62%, #40FFFF 75%, #000000 87%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: Fla_pulse 2s ease 0s infinite normal both;
    font-weight: bolder;
}

.navbar-brand h1:hover{
    background: white;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes Fla_pulse {
	0% {
		animation-timing-function: ease-out;
		transform: scale(1);
		transform-origin: center center;
	}

	10% {
		animation-timing-function: ease-in;
		transform: scale(0.91);
	}

	17% {
		animation-timing-function: ease-out;
		transform: scale(0.98);
	}

	33% {
		animation-timing-function: ease-in;
		transform: scale(0.87);
	}

	45% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}
}

.nav-link p {
    color: white;
    font-size: 15px;
    font-weight: bold;
}
.nav-link p:hover {
    color: black;
    font-size: 110%;
}

.active p{
    font-weight: bolder;
    font-size: 17px
}

.active p:hover{
    color: white;
    font-size: 17px
}

.navbar .navbar-toggler[aria-expanded="true"] {
    color: white;
    }
    .navbar .navbar-toggler:focus{
    color: white;
    }

/* End Navbar */
/* Footer */

.pagefooter {
    height: 50px;
    justify-content: center;
}

.footer__list {
    background-color: black;
    list-style: none;
    display: flex;
}

.footer__socialmedia{
    padding: 0px 15px;
    font-size: 15px;
    font-weight: bolder;
    color: red;
}

.footer__list li{
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    font-size: 18px;
}
.footer__list li a {
    color: rgb(250, 250, 250);
    text-decoration: none;
  }
  .footer__list li a:hover {
    color: rgb(252, 50, 50);
    font-size: 105%;
  }

.footer__socialmedia {
    padding-top: 40px;
}

/* End Footer */

/* Home Layout */

#homepage {
    margin-top: 10vh;
}

.column1 {
    float: left;
    width: 50%;
    position: relative;
  }
  

#hometitle1, #hometitle2{
    text-decoration: none;
    color: white;
    padding: 0;
    margin: 0;
    font-size: 30px;
    text-align: left;
    font-weight: bolder;
}

#hometitle1:hover, #hometitle2:hover {
    font-size: 33px;
    text-decoration: underline;
}

#homecaption1, #homecaption2{
    text-decoration: none;
    color: white;
    padding: 0;
    margin: 0;
    font-size: 18px;
    text-align: left;
}

#homecaption1:hover, #homecaption2:hover {
    font-size: 20px;
    text-decoration: underline;
}

.hometext h5,.hometext p{
    background-color: black, rgb(0, 0, 0, 0.3);
}

.carousel-item img{
    max-height: 65vh;
    width: auto;
}

.carouselhome {
    max-height: 65vh;
    width: auto;
    position: relative;
}

.home_img_top {
      height:"auto";
      object-fit: cover;
  }

  .home_img_bottom {
    display: flex;  
    align-content: center;
    width: 90%;
    position: relative;
  }

  .index2 {
    width: 100%;
    display: flex;
    margin-top: 3vh;
    justify-content: center;
    align-items: center;
  }

.card2 {
    flex: 1;
    width: 80%;
    justify-content: center;
    align-items: center;
    height: 40vh;
    position: relative;
    margin: 10px;
}

.card2 a {
    width: 100%;
    color: rgb(255, 255, 255);
}  

.card2 a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.card2 h5 {
    background-color: rgb(0, 0, 0, 0.3);
    position: absolute;
    bottom: 20px;
    font-size: 17px;
    }
 
.card2 a:hover {
    color: rgb(255, 255, 255);
    text-decoration: underline;
    font-weight: bold;
}

  /* End Home Layout */

  /* Events */

.evt__container {
    width: 500px;
}

.evt__img {
 width: 500px;
 max-height: 366px;
}

.evt__imgcaption {
    background: #000000;
    bottom: 0;
    top: 0;
    color: #FFFFFF;
    left: 0;
    opacity: 0.5;
    width: 500px;
    height:25px;
}

.evt__imgcaption p {
    vertical-align: auto;
    font-family: sans-serif;
    font-size: 15px;
}

.evt__imgcaption :hover {
    opacity: 1;
}

  /* End Events */

  /* Matches */

  .accordion-flush h2 button:focus{
    background-color: rgb(251, 132, 132);
    color: #000000;
    font-weight: bold;
}

  /* End Matches */


/* Gallery */
.gallery {
    padding: var(--gap);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: var(--row-height);
    gap: 20px;
    background-color: red;
    justify-content: center;
}


.gallery > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* MOBILE */
@media screen and (min-width:0px) {
    * {
        --row-height: 350px;
    }

    .gallery {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    header, main, footer {
        width: 100%;
    }
    .index1, .index2 {
        flex-direction: column;
    }
    .ytcontainer iframe{
        width: 210px;
        height: 114px;
    }
}

/* MOBILE */
@media screen and (min-width:320px) {
    * {
        --row-height: 350px;
    }

    .gallery {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    header, main, footer {
        width: 100%;
    }
    .index1, .index2 {
        flex-direction: column;
    }
    .ytcontainer iframe{
        width: 305px;
        height: 160px;
    }
    .evt__img {
        width: 50%;
        height: 50%;
    }

    .quienessomos__img {
        width: 250px;
        height: 50%;
    }

    .evt__imgcaption {
        width: 250px;
        height: 14px;
    }
    .evt__imgcaption p {
        font-size: 10px;
    }
}

/* TABLET */
@media screen and (min-width:650px) {
    * {
        --row-height: 350px;
    }

    .gallery {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    header, main, footer {
        width: 100%;
    }
    .index1 {
        flex-direction: column;
    }
    .index2 {
        flex-direction: row;
    }
    .ytcontainer iframe {
        width: 525px;
        height: 273px;
    }
    .evt__img {
        width: 100%;
        height: 100%;
    }
    .quienessomos__img {
        width: 500px;
        height: 100%;
    }
    .evt__imgcaption {
        width: 500px;
        height: 100%;
    }
    .evt__imgcaption p {
        font-size: 14px;
    }
} 

/* DESKTOP */
@media screen and (min-width:1024px) {
    * {
        --row-height: 350px;
    }

    .gallery {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
    }

    header, main, footer {
        width: 100%;
    }
    .index1, .index2 {
        flex-direction: row;
    }
    .ytcontainer iframe{
        width: 700px;
        height: 384px;
    }
    .evt__imgcaption p {
        font-size: 16px;
    }
}
/* HOME FONTSIZE */

@media screen and (max-width:767px) {
    #hometitle1, #hometitle2 {
        font-size: 22px;
    }
    #homecaption1, #homecaption2 {
        font-size: 14px
    }
    #hometitle1:hover, #hometitle2:hover {
        font-size: 23px;
    }
    #homecaption1:hover, #homecaption2:hover {
        font-size: 15px
    }
    .card2 h5 {
        font-size: 14px;
    }
}

@media screen and (max-width:500px) {
    #hometitle1, #hometitle2 {
        font-size: 18px;
    }
    #homecaption1, #homecaption2 {
        font-size: 12px
    }
    #hometitle1:hover, #hometitle2:hover {
        font-size: 19px
    }
    #homecaption1:hover, #homecaption2:hover {
        font-size: 13px;
    }
    .card2 h5 {
        font-size: 12px;
    }
}

@media screen and (max-width:370px) {
    #hometitle1, #hometitle2 {
        font-size: 14px;
    }
    #homecaption1, #homecaption2 {
        font-size: 10px;
    }
    #hometitle1:hover, #hometitle2:hover {
        font-size: 15px;
    }
    #homecaption1:hover, #homecaption2:hover {
        font-size: 11px;
    }
}