.pagefooter {
    height: 50vh;
    justify-content: center;
}
.footer__socialmedia{
    font-weight: bolder;
    color: map-get($colors, main);
    padding-right: 20px;
}
.fa-brands {
    color: map-get($colors, main);
}
.fa-brands:hover {
    color: map-get($colors, main-dark);
    font-size: 38px;
}
.fixed-bottom {
    background-color: map-get($colors, main-lighter);
    opacity: 1;
}

