* {
    @extend %nopadding_nomargin;
    box-sizing: border-box;
}

.pagetitle {
    color: map-get($colors,main);
    margin-top: 15vh;
}

.padding-top {
    padding-top: map-get($gaps,main);
}

.padding-bottom {
    padding-bottom: map-get($gaps,main);
}

.padding-left {
    padding-left: map-get($gaps,main);
}

.padding-right {
    padding-right: map-get($gaps,main);
}

.padding {
    padding: map-get($gaps,main);
}

.largepadding {
    padding: 30px 60px
}

.mediumpadding {
    padding: 20px 0px;
}

.margin-top {
    margin-top: map-get($gaps,main);
}

.margin-bottom {
    margin-bottom: map-get($gaps,main);
}
.margin-left {
    margin-left: map-get($gaps,main);
}
.margin-right {
    margin-right: map-get($gaps,main);
}

.margin {
    margin: map-get($gaps,main);
}

.ytcontainer {
    padding: 30px;
    align-self: center;
}

header, main, footer {
    width: 100%;
}