.navbar {
    background-image: linear-gradient(to left, $main-color 25%, rgb(154, 0, 0) 50%, $main-color 75%);
}

.nav-link {
    background-color: maroon, 0.4;
}

.navbar-brand h1 {
    background: linear-gradient(to right, $main-color-dark 13%, #40FFFF 25%, #FFFFFF 50%, #FFFFFF 47%, #FFFFFF 62%, #40FFFF 75%, $main-color-dark 87%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: Fla_pulse 2s ease 0s infinite normal both;
    font-weight: bolder;
    text-shadow: text-shadow(5px 5px 1px $main-color-lighter);
}

.navbar-brand h1:hover{
    background: $main-color-lighter;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes Fla_pulse {
	0% {
		animation-timing-function: ease-out;
		transform: scale(1);
		transform-origin: center center;
	}

	10% {
		animation-timing-function: ease-in;
		transform: scale(0.91);
	}

	17% {
		animation-timing-function: ease-out;
		transform: scale(0.98);
	}

	33% {
		animation-timing-function: ease-in;
		transform: scale(0.87);
	}

	45% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}
}

.nav-link p {
    color: $main-color-lighter;
    font-size: 15px;
    font-weight: bold;
}
.nav-link p:hover {
    color: $main-color-dark;
    font-size: 110%;
}

.active p{
    font-weight: bolder;
    font-size: 17px
}

.active p:hover{
    color: $main-color-lighter;
    font-size: 17px
}

.navbar .navbar-toggler[aria-expanded="true"] {
    color: $main-color-lighter;
    }
    .navbar .navbar-toggler:focus{
    color: $main-color-lighter;
    }
