.homepage {
    margin-top: 5vh;
}

.column1 {
    float: left;
    width: 50%;
    position: relative;
  }

#hometitle1, #hometitle2{
    @include homefont (30px, none, bold);
    color: map-get($colors,main-lighter);
    @extend %nopadding_nomargin;
    text-align: left;
}

#hometitle1:hover, #hometitle2:hover {
    @include homefont (33px, underline, bolder);
}

#homecaption1, #homecaption2{
    @include homefont (18px, none, 500);
    color: map-get($colors,main-lighter);
    @extend %nopadding_nomargin;
    text-align: left;
}

#homecaption1:hover, #homecaption2:hover {
    @include homefont (20px, underline, bolder);
}

.hometext h5,.hometext p{
    text-shadow: 1.5px 1.5px map-get($colors,main-dark);
}

.carousel-item img{
    max-height: 65vh;
    width: auto;
}

.carouselhome {
    max-height: 65vh;
    width: auto;
    position: relative;
}

.index2 {
    display: flex;
    @include flexbox (center, center, row, 100%);
    margin-top: 3vh;
  }

.card2 {
    flex: 1;
    @include flexbox (center, center, unset, 80%);
    height: 40vh;
    position: relative;
    margin: map-get($gaps,main);
    a {
        width: 100%;
        color: map-get($colors,main-lighter);
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    a:hover {
        color: map-get($colors,main-lighter);
        text-decoration: underline;
        font-weight: bold;
    }
    h5 {
        background-color: map-get($colors,main-dark);
        position: absolute;
        bottom: 10px;
        font-size: 17px;
        }
}