@media screen and (min-width:0px) {
    * {
        --row-height: 350px;
    }

    .gallery {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    header, main, footer {
        width: 100%;
    }
    .index1, .index2 {
        flex-direction: column;
    }
    .ytcontainer iframe{
        width: 210px;
        height: 114px;
    }
}