@media screen and (min-width:320px) {
    * {
        --row-height: 350px;
    }

    .gallery {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    header, main, footer {
        width: 100%;
    }
    .index1, .index2 {
        flex-direction: column;
    }
    .ytcontainer iframe{
        @include dimensions (305px, 160px);
        width: 305px;
        height: 160px;
    }
    .evt__img {
        @include dimensions (50%, 50%);
    }

    .quienessomos__img {
        @include dimensions (250px, 50%);
    }

    .evt__imgcaption {
        @include dimensions (250px, 14px);
    }
    .evt__imgcaption p {
        font-size: 10px;
    }
}
