@media screen and (min-width:650px) {
    * {
        --row-height: 350px;
    }

    .gallery {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    header, main, footer {
        width: 100%;
    }
    .index1 {
        flex-direction: column;
    }
    .index2 {
        flex-direction: row;
    }
    .ytcontainer iframe {
        width: 525px;
        height: 273px;
    }
    .evt__img {
        width: 100%;
        height: 100%;
    }
    .quienessomos__img {
        width: 500px;
        height: 100%;
    }
    .evt__imgcaption {
        width: 500px;
        height: 100%;
    }
    .evt__imgcaption p {
        font-size: 14px;
    }
} 